{% extends "base.html" %}

{% block title %}Blog Posts - {{ block.super }}{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Blog Posts</h1>
    <a href="{% url 'blog:post_add' %}" class="btn btn-primary">Add Post</a>
  </div>
  {% for post in posts %}
    <article>
      <header class="d-flex">
        <h1>{{ post.title }}</h1>
      </header>
      <div>{{ post.body|truncatewords:"20" }}</div>
    </article>
  {% empty %}
    <div class="alert alert-info">No blog posts have been published.</div>
  {% endfor %}
{% endblock content %}