{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}New Blog Post - {{ block.super }}{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Add new blog post</h1>
    <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">Go Back</a>
  </div>
  <div>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock content %}