{% extends "base.html" %}

{% load i18n static %}

{% block title %}Task List - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{% translate 'Tasks' %}</h1>
<p>
{% if user.is_authenticated %}
    <a href="{% url 'task_add' %}">Add new Task</a>
{% endif %}
</p>
<table class="table tbl-task-list">
    <thead>
    <tr>
        <th>Task</th>
        <th class="text-center">Done?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>
            <a href="{% url 'task_detail' pk=task.pk %}">
                {{ task.title }}
            </a>
        </td>
        <td class="text-center">
            {{ task.is_done }}
        </td>
        <td class="text-center">
            {% if not task.is_done %}
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-url="{% url 'task_done' pk=task.pk %}">Mark as done</button>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <li>{% translate 'No tasks have been added yet!' %}</li>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'tasks/tasks.js' %}"></script>
{% endblock scripts %}